version: "3.9"

services:
  # Nginx reverse proxy
  nginx-front:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx-front/nginx.conf:/etc/nginx/nginx.conf:ro
    #TODO: IS THIS NEEDED?
    depends_on:
      - nginx-rtmp
      - api
      #- react-app

  # Nginx with rtmp ingest
  nginx-rtmp:
    image: tiangolo/nginx-rtmp:latest
    ports:
      - "1935:1935"
    volumes:
      - ./nginx-rtmp/nginx.conf:/etc/nginx/nginx.conf:ro
      - keys:/keys

  # API
  api:
    image: node:18
    volumes:
      - ./api:/app
      - keys:/keys
    working_dir: /app
    environment:
      - NODE_ENV=production
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=mydatabase
      - DB_USER=myuser
      - DB_PASSWORD=mypassword
      - AUTH0_IDENTIFIER=http://reiswig.rocks/api
      - AUTH0_DOMAIN=dev--fat69-n.auth0.com
    depends_on:
      - db
    command: sh -c "npm install && npm start"

  # Database
  db:
    image: postgres:latest
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=mydatabase
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword

  # React application
  #react-app:
  #  image: node:latest
  #  volumes:
  #    - ./react-app:/app
  #  environment:
  #    - REACT_APP_API_URL=http://api:3000

volumes:
  keys:
